* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	--nav-width: 0;
	scroll-behavior: smooth;
}
main {
	padding-left: var(--nav-width);
}

.slider {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul {
	list-style: none;
}

.yes {
	display: block;
}


.no {
	display: none;
}

.image {
	width: 800px;
	height: 500px;
	border-radius: 10px;
	object-fit: cover;
}

.left-arrow {
	position: absolute;
	top: 50%;
	right: 32px;
	font-size: 1rem;
	z-index: 10;
	cursor: pointer;
	user-select: none;
	border-radius: 10px;
	background-color: beige;
	outline: none;
	padding: 10px 15px;
}

.right-arrow {
	position: absolute;
	padding: 10px 15px;
	top: 50%;
	left: 32px;
	font-size: 1rem;
	z-index: 10;
	cursor: pointer;
	user-select: none;
	border-radius: 10px;
	background-color: beige;
	outline: none;
}